body {
    background-color: dimgrey;
}

#text-box {
    position: absolute;
    right: 5%;
    top: 4%;
    color: white;
    max-height: 10%;
    width: 22%;
    border: 2px solid white;
    padding: 2px;
    text-align: center;
    font-family: Calibri;
}